@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {

  /* Fonts */
  --kg-font-family-primary: 'Roboto', sans-serif;

  /* Colors */
  --kg-color-white: #fdfcfc;
  --kg-color-gray: #9a898e;
  --kg-color-dark: #0f0d0d;
  --kg-color-roseI: #fff0f5;
  --kg-color-roseII: #e4d3d8  ;
  --kg-color-roseIII: #ab5474;

  /* Backgrounds */
  --kg-bg-primary: var(--kg-color-roseI);
  --kg-bg-secondary: var(--kg-color-roseII);
  --kg-bg-terciary:var( --kg-color-roseIII);
  --kg-bg-grey:var( --kg-color-gray);
  --kg-bg-dark:var( --kg-color-dark);
  

  /* Text Colors */
  --kg-text-primary: var(--kg-color-roseI);
  --kg-text-secondary: var(--kg-color-roseII);
  --kg-text-terciary: var(--kg-color-roseIII);
  --kg-text-dark: var(--kg-color-dark);
  --kg-text-light: var(--kg-color-white);

  /* Font Sizes */
  --kg-font-size-h1: 3.125em;
  --kg-font-size-h2: 2.1875em;
  --kg-font-size-h3: 1.5625em;
  --kg-font-size-text: 0.85em;
  --kg-font-size-link: 1.25em;

  /* Gap */
  --kg-gap-xl: 50px;
  --kg-gap-lg: 30px;
  --kg-gap-md: 20px;
  --kg-gap-sm: 10px;

  /* Padding */
  --kg-padding-xl: 60px;
  --kg-padding-lg: 30px;
  --kg-padding-md: 20px;
  --kg-padding-sm: 10px;

  /* Margin */
  --kg-margin-xl: 60px;
  --kg-margin-lg: 30px;
  --kg-matgin-md: 20px;
  --kg-margin-sm: 10px;

  --kg-margin-section: 130px;

  /* Borders */
  --kg-radius-sd: 5px;
  --kg-radius-md: 10px;
  --kg-radius-lg: 15px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--kg-font-family-primary);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--kg-gap-md);
}

.grid-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--kg-bg-primary);
  color: var(--kg-text-dark);
  margin: 0;
}

.dark {
  background-color: var(--kg-text-primary);
  color: var(--kg-bg-primary);
}

.active {
  background-color: var(--kg-text-primary);
  color: var(--kg-bg-primary);
}

#app {
  max-width: 1280px;
  scroll-behavior: smooth;
  margin: 0 auto;
  text-align: center;
}